body {
    font-family: serif;
    color: white;
    font-size: 15px;
}
.header, .footer, .intro {
    background-color: #1f2937;
}
.container {
    background-color: white;
}
.quote {
    background-color: #E5E7EB;
}
.sign-up {
    background-color: #3882f6;
}
button {
    background-color: #3882f6;
    color: white;
}
h3 {
    color: black;
}