* {
    margin: 0;
    padding: 0;
}
body {
    font-family: serif;
    color: white
}
.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.header, .footer, .intro {
    background-color: #1f2937;
}
/* header */
.header {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
    padding-top: 30px;
    align-items: baseline;
}
ul {
    list-style-type: none;
    gap: 40px;
    display: flex;
}
.intro-header {
    font-size: 20px;
}
/* intro */
.intro {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
}

.placeholder {
    background-color: gray;
    display: flex;
    align-items: center;
}
#placeholder-text {
    text-align: center;
}
/* Buttons */
.button-intro {

}
button {
    background-color: #3882f6;
    color: white;
    font-size: 15px;
    width: 80px;
    height: 30px;
    font-weight: 700;
    border-radius: 9px;
}
#sign-up-button {
    border: white;
}



/* container */
.container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.title {
    display: flex;
}
.image-container {
    display: flex;
    color: black;
}
.info {

}
/* quote */
.quote {
    background-color: gray;
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: flex-end;
    justify-content: center;
}

h3 {
    color: black;
}
/* signup end */
.signup-up {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    background-color: #3882f6;
}
/* footer */
.footer {
    display: flex;
    justify-content: center;
    padding: 13px;

}
/* buttons */
button {
    background-color: #3882f6;
}

img {
    height: 100px;
}